body{
  background: url('firework.gif') no-repeat center center fixed;
  background-size: cover;
}
body::before {
    content: ""; /* Add empty content */
    position: absolute; /* Set the position property to absolute */
    top: 0; /* Set top position to 0 */
    left: 0; /* Set left position to 0 */
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    background-color: rgba(255, 255, 255, 0.2); /* Add your desired background color with 30% opacity */
  }
.title{
    color: white;
    position: absolute;
    top: 50%;
    right: 50%;
}